{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock title %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <h1 class="text-center mb-4 display-2">{{ blog.title }}</h1>
    <span class="fs-5 p-1 text-decoration-underline fw-bold text-danger">{{ blog.date|date }}</span>
    <span class="fs-5 text-secondary">({{ blog.views }} views)</span>
    <p class="lh-2 fs-5 mt-2">{{ blog.description|safe }}</p>

</div>

<hr>

<div class="container mt-5">
    {% if request.user.is_anonymous %}
    <a href="{% url 'login' %}" class="fs-4 text-decoration-none text-secondary">(Login to post a comment)</a>
    {% else %}
    <h1 class="my-4">Add a new comment</h1>
    <form action="{% url 'post_comment' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <input type="text" class="form-control form-control-lg border-danger" placeholder="Type Your Comment"
                    name="comment" id="">
            </div>
            <div class="form-group col-md-3">
                <input type="hidden" class="form-control form-control-lg border-danger" name="blog_id"
                    value="{{ blog.id }}">
            </div>
        </div>
        <button type="submit" class="btn btn-danger my-3">Post Comment</button>
    </form>
    {% endif %}
</div>

<div class="container">
    {% if comment_count > 0 %}
    <br>
    <h1>Comments ({{ comment_count }})</h1>
    {% else %}
    <span class='text-secondary'>(Be the first to post a comment)</span>
    {% endif %}
    <hr>
    {% for comment in comments %}
    <div class="card my-4 w-50">
        <div class="card-body">
                <span class="fw-medium fs-4">{{ comment.user.username }}</span>
                <span class="fs-sm text-secondary ms-1">{{ comment.timestamp|date:'Y-m-d' }}</span>
                <p class="card-text">{{ comment.comment }}</p>
                <a href="#" class="btn btn-danger">Reply</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}