{% extends 'base.html' %}

{% block title %}Blogify{% endblock title %}

{% block content %}
  <!-- navbar start -->
  {% include 'navbar.html' %}
  <!-- navbar end -->

  <!-- Body start -->
  <div class="container mt-5">
    <div class="row">
      {% for blog in blogs %}
      <div class="col-lg-6 mb-3 mb-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.description|truncatewords:30|safe }}</p>
            <a href="{% url 'blog' blog.slug %}" class="btn btn-primary">Read More</a>
            <span class="ms-2">{{ blog.date|date }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
  <!-- Body end -->